PORT=5000
MONGO_URI=mongodb+srv://das29753_db_user:mTvxKci9pcgN9IY9@cluster0.yyh1pii.mongodb.net/taskapi?appName=Cluster0
JWT_SECRET=your_super_secret_jwt_key_change_this
JWT_EXPIRES_IN=7d
NODE_ENV=development
